/* header */

.header {
  max-width: 1340px;
  width: 100%;
  margin: auto;
  padding-top: 92px;
  max-height: 109px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__links-list {
  display: flex;
}

.header__links-list-item {
  list-style: circle;
  margin-left: 30px;
  padding-left: 2px;

}

.header__links-list-item:first-child {
  margin-left: 0;
  list-style: none;
  text-decoration: none;
}


.header__link_active {
  text-decoration: none;
}

.header__link {
  font-weight: normal;
  font-size: 18px;
  text-transform: lowercase;
  text-underline-offset: 4px;
}

.header__logo-image {
  margin-right: 150px;
  width: 135px;
}

.address {
  display: flex;
  flex-direction: column;
  font-family: Raleway;
  text-underline-offset: 4px;
  padding-bottom: 1px;
  padding-right: 1px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24.3px;
}

.header__address {
  font-style: normal;
}

/* cover */

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 60%);
  z-index: 1;
}

.cover {
  margin: auto;
  margin-top: 182px;
  max-width: 1440px;
  width: 100%;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -15px;
  position: relative;
}

.cover__title {
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  line-height: 122px;
  color: white;
  position: absolute;
  inset: 165px 20px 135px 50px;
  z-index: 2;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  display: block;
  text-align: center;
  margin-right: 60px;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  margin-right: -30px;
}

.cover__description {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 48px;
  right: 50px;
  z-index: 2;
}

.cover__description-text {
  font-family: Raleway;
  font-weight: normal;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  font-family: Raleway;
  font-weight: normal;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 32px;
  margin-left: 78px;
}

/* lots */

.lots {
  max-width: 1340px;
  width: 100%;
  min-height: 579px;
  margin: auto;
}

.lots__heading {
  margin: 182px 0 27px 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-flow: row wrap;
  gap: 25px;
}

.lots__card-list-item {
  list-style: none;
}

.card-link {
  display: block;
}

.card {
  position: relative;
  width: 430px;
  min-height: 450px;
  padding: 50px 40px;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  z-index: 2;
}

.card__text {
  color: white;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  z-index: 2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.lots__look-more-link {
  display: block;
  padding: 30px 0 0 40px;
  font-size: 20px;
  text-underline-offset: 4px;
}

/* about */

.about {
  max-width: 1340px;
  margin: auto;
  margin-top: 181px;
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
}

.about__column {
  min-height: 487px;
}

.about__logo-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
  width: 240px;
  background-color: black;
  border-radius: 50%;
}

.about__logo {
  width: 148px;
}

.about__title {
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  line-height: 117%;
}

.about__text-top {
  padding-bottom: 25px;
}

/* footer */

.footer {
  max-width: 1340px;
  margin: auto;
  margin-top: 180px;
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu-list-item {
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__social-link {
  text-decoration: none;
}

.footer__social-icon {
  width: 48px;
}
