/* header */

.header {
  max-width: 1340px;
  width: 100%;
  margin: auto;
  padding-top: 92px;
  max-height: 109px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__links-list {
  display: flex;
}

.header__links-list-item {
  list-style: circle;
  margin-left: 30px;
  padding-left: 2px;

}

.header__links-list-item:first-child {
  margin-left: 0;
  list-style: none;
  text-decoration: none;
}


.header__link_active {
  text-decoration: none;
}

.header__link {
  font-family: Raleway;
  font-weight: normal;
  font-size: 18px;
  text-transform: lowercase;
  text-underline-offset: 4px;
}

.header__logo-image {
  margin-right: 150px;
  width: 135px;
}

.address {
  display: flex;
  flex-direction: column;
  font-family: Raleway;
  text-underline-offset: 4px;
  padding-bottom: 1px;
  padding-right: 1px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24.3px;
}

.header__address {
  font-style: normal; 
}

