/* header */

.header {
  max-width: 1340px;
  width: 100%;
  margin: auto;
  padding-top: 92px;
  max-height: 109px;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__links-list {
  display: flex;
}

.header__links-list-item {
  list-style: circle;
  margin-left: 30px;
  padding-left: 2px;

}

.header__links-list-item:first-child {
  margin-left: 0;
  list-style: none;
  text-decoration: none;
}


.header__link_active {
  text-decoration: none;
}

.header__link {
  font-family: Raleway;
  font-weight: normal;
  font-size: 18px;
  text-transform: lowercase;
  text-underline-offset: 4px;
}

.header__logo-image {
  margin-right: 150px;
  width: 135px;
}

.address {
  display: flex;
  flex-direction: column;
  font-family: Raleway;
  text-underline-offset: 4px;
  padding-bottom: 1px;
  padding-right: 1px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24.3px;
}

.header__address {
  font-style: normal; 
}

/* cover */

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba( 0, 0, 0, 60% );
  z-index: 1;
}

.cover {
  margin: auto;
  margin-top: 182px;
  max-width: 1440px;
  width: 100%;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -15px;
  position: relative;
}

.cover__title {
  font-family: Raleway;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  line-height: 122px;
  color: white;
  position: absolute;
  inset: 165px 20px 135px 50px;
  z-index: 2;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  display: block;
  text-align: center;
  margin-right: 60px;
}

.aligned-text_right {
  display: block;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  margin-right: -30px;
}

.cover__description{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 48px;
  right: 50px;
  z-index: 2;
}

.cover__description-text{
  font-family: Raleway;
  font-weight: normal;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button{
  font-family: Raleway;
  font-weight: normal;
  color: white;
  background-color: rgba( 0, 0, 0, 0 );
  border: 1px solid white;
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 32px;
  margin-left: 78px;
}
